<!DOCTYPE html>
<html>
<head>
    <title>Kovid Trading Bot</title>
    <script>
        async function loadData() {
            try {
                const res = await fetch('/data');
                const data = await res.json();

                document.getElementById("nifty").innerText = data.nifty;
                document.getElementById("ce").innerText = data.ce;
                document.getElementById("pe").innerText = data.pe;
                document.getElementById("signal").innerText = data.signal;
                document.getElementById("status").innerText = data.status;

            } catch (e) {
                console.log("Error fetching data");
            }
        }

        // AUTO REFRESH EVERY 3 SECONDS
        setInterval(loadData, 3000);

        window.onload = loadData;
    </script>
</head>

<body style="background:#0b1220; color:white; text-align:center; font-family:Arial">

    <h1>Kovid Trading Bot</h1>

    <h2>NIFTY: <span id="nifty">--</span></h2>
    <h2>CE PRICE: <span id="ce">--</span></h2>
    <h2>PE PRICE: <span id="pe">--</span></h2>

    <h1 style="color:lime;">SIGNAL: <span id="signal">--</span></h1>
    <h2>STATUS: <span id="status">--</span></h2>

</body>
</html>
